<!-- <router-outlet></router-outlet> -->
<!-- <app-open-close></app-open-close>
<app-image></app-image> -->
<!-- <button routerLink="open">Open</button>
<button routerLink="user">home</button>
<div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div> -->
  <!-- <app-input></app-input> -->
  <!-- <app-auto-complete></app-auto-complete> -->
  <!-- <app-date-range></app-date-range> -->
  <!-- <app-parent></app-parent> -->
  <app-parent1></app-parent1>